.App {
  text-align: center;
  padding: 0px 15px 0px 15px;
  background-color: #282c34;
}

.App-header {
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 70px 0px 70px;
  color: white;
  font-size: 13.9px;
}

.App-header-title {
  font-size: 38px;
}

.App-header-description {
  margin: 0px 0px 15px 0px;
}

.App-body {
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-footer {
  min-height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
}

.App-button-mix {
  background-color: #f39c12;
  border: none;
  color: black;
  margin: 0px 0px 30px 0px;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
}

.App-button-generate {
  background-color: white;
  border: none;
  color: black;
  padding: 11px 16px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
}

.App-button-generate-glowing {
  background-color: white;
  border: none;
  color: black;
  padding: 11px 16px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  animation: glowing 1500ms infinite;
}

.App-button-upload {
  background-color: white;
  border: none;
  color: black;
  padding: 11px 16px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
}

.App-button-play-default {
  background-color: white;
  border: none;
  color: black;
  height: 37px;
  width: 37px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #7CFC00;
}

.App-button-play-active {
  background-color: #7CFC00;
  border: none;
  color: black;
  height: 37px;
  width: 37px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #7CFC00;
}

.App-button-select-default {
  background-color: white;
  border: none;
  color: black;
  padding: 8px 16px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  border: 3px solid #f39c12;
}

.App-button-select-active {
  background-color: #f39c12;
  border: none;
  color: black;
  padding: 8px 16px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  border: 3px solid #f39c12;
}

.App-button-download {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: white;
  border: none;
  color: black;
  height: 18px;
  width: 18px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.App-table-cell-default {
  min-width: 12vw;
  padding: 6px 12px;
}

.App-table-cell-highlighted {
  background-color: #8080C0;
  min-width: 12vw;
  padding: 6px 12px;
}

.App-text-ok {
  color: #7CFC00;
}

.App-text-error {
  color: #f39c12;
}

.App-body-slider {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 25px 0px 20px 0px;
}

.App-body-slider-textbox {
  border: 2px solid white;
  font-size: 16px;
  padding: 14px;
  height: 20px;
  width: 60px;
}

.App-text-sample-number {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: white;
  border: none;
  color: black;
  padding: 2px 4px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

table, th, td {
  position: relative;
  border: 2px solid white;
  border-collapse: collapse;
}

button > img {
    max-width: 100%;
    max-height: 100%;
}

button:focus {
  outline:0;
}

button:disabled,
button[disabled] {
  background-color: #A9A9A9;
  color: #666666;
}

button:active {
  transform: translateY(2px);
}

input[type=file] {
  display: none;
}

input[type=range] {
  margin: 0px 20px 0px 20px;
  overflow: hidden;
  background-color: #7CFC00;
}

.App-link {
  color: #f39c12
}

@keyframes glowing {
  0% {
    background-color: white;
  }
  50% {
    background-color: #f39c12;
    box-shadow: 0 0 10px #f39c12;
  }
  100% {
    background-color: white;
  }
}
